.app {
    width: 100%;
    max-width: 1100px;
    margin-left:auto;
    margin-right:auto;
    padding: 0 1.25rem;
}

a {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}

body > * {
    font-size: 1rem;
}

body {
    font-size: 16px;
    line-height: 1.5;
    p {
        font-family: Arial, Helvetica, sans-serif;
        text-align: left;
    }

}

@media (max-width: 576px) {
    .app {
        padding: 0 0.75rem;
    }

    body > * {
        font-size: 1.05rem;
    }
}
