.welcome {
    display: inline-block;
    width: 100%;
    min-height: 70vh;
    text-align: center;
    align-content: center;
    background-color: transparent;
    background-image: url("../../assets/images/vineyard.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.welcome h1 {
    align-content: center;
    text-align: center;
}

.welcome .cta {
    padding-top: 160px;
    text-align: center;
    align-content: center;
    border-radius: 15px;
    background-color: transparent;
}

.welcome .cta .button {
    width: 40%;
    border-radius: 15px;
    background-color: #c97b84;
    border-color: #7d2e68;
    border-width: 6px;
    font-size: 3em;
    font-weight: bold;
    color: #b1b695;
    -webkit-text-stroke: 1px #251351;
    -webkit-text-stroke-width: 1px;
}

.welcome .cta .button:hover {
    border-color: #251351;
    -webkit-text-stroke: 1px #7d2e68;
}

.middle {
    background-color: #7d2e68;
    height: 2vh;
}

.newsletter {
    width: 100%;
    height: 30vh;
    padding-top: 30px;
    position: inherit;
    display: inline-block;
    align-content: center;
    text-align: center;
    background-color: #b1b695;
}

.newsletter .button {
    width: 40%;
    border-radius: 15px;
    background-color: #c97b84;
    border-color: #7d2e68;
    border-width: 2px;
    font-size: 2em;
    font-weight: bold;
    color: #b1b695;
    -webkit-text-stroke: 1px #251351;
    -webkit-text-stroke-width: 1px;
}

.newsletter .button:hover {
    border-color: #251351;
    -webkit-text-stroke: 1px #7d2e68;
}

@media (max-width: 768px) {
    .welcome {
        min-height: 60vh;
        background-size: cover;
    }

    .welcome .cta {
        padding-top: 120px;
    }

    .welcome .cta .button {
        width: 85%;
        font-size: 1.6rem;
        border-width: 4px;
    }

    .newsletter {
        height: auto;
        padding: 36px 0;
    }

    .newsletter .button {
        width: 85%;
        font-size: 1.4rem;
        border-width: 3px;
    }
}
