.welcome {
    display: inline-block;
    width: 100%;
    height: 100vh;
    text-align: center;
    align-content: center;
    background-color: transparent;
    background-image: url("../../assets/images/vineyard.jpg");
    background-repeat: no-repeat;
    background-position: center;     
    background-size: auto;   
    h1 {
        align-content: center;
        text-align: center;
    }
    .cta {
        padding-top: 200px;
        text-align: center;
        align-content: center;
        border-radius: 15px;
        background-color: transparent;
        
        .button {
            width: 40%;
            border-radius: 15px;
            background-color: #C97B84;
            border-color: #7D2E68;
            border-width: 6px;
            font-size: 3em;
            font-weight: bold;
            color: #B1B695;
            -webkit-text-stroke: 1px #251351;
            -webkit-text-stroke-width: min($numbers: 30);
        }
        .button:hover {
            border-color: #251351;
            -webkit-text-stroke: 1px #7D2E68;
        }
    } 
}

.middle {
    background-color: #7d2e68;
    height:2vh;
}

.newsletter {
    width: 100%;
    height: 30vh;
    padding-top: 30px;
    position: inherit;
    display: inline-block;
    align-content: center;
    text-align:center;
    background-color: #B1B695;
    .button {
        width: 40%;
        border-radius: 15px;
        background-color: #C97B84;
        border-color: #7D2E68;
        border-width: 2px;
        font-size: 2em;
        font-weight: bold;
        color: #B1B695;
        -webkit-text-stroke: 1px #251351;
        -webkit-text-stroke-width: min($numbers: 30);
        
    }
    .button:hover {
        border-color: #251351;
        -webkit-text-stroke: 1px #7D2E68;
    }
}