.contactdiv1 {
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    color: #251351;
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.contactdiv1 .formdiv {
    padding: 0px;
}

.contactdiv1 .formdiv ::placeholder {
    color: #ffffff;
    opacity: 1;
    top: 0px;
    font-weight: bold;
}

.contactdiv1 .formdiv :-ms-input-placeholder {
    color: #ffffff;
    font-weight: bold;
}

.contactdiv1 .formdiv ::-ms-input-placeholder {
    color: #ffffff;
    font-weight: bold;
}

.contactdiv1 .formdiv .contact {
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 15px;
}

.contactdiv1 .formdiv .contact h2 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    color: #251351;
}

.contactdiv1 .formdiv .contact .form-actions {
    text-align: right;
    width: 100%;
}

.contactdiv1 .formdiv .contact .form-actions button {
    font-family: Arial, Helvetica, sans-serif;
    border: 0px;
    text-align: center;
    width: 155px;
    height: 35px;
    background-color: #7d2e68;
    color: white;
    border-radius: 10px;
}

.contactdiv1 .formdiv .contact input {
    width: 100%;
    height: 35px;
    border: 0px;
}

.contactdiv1 .formdiv .contact form {
    padding: 0px;
}

.contactdiv1 .formdiv .contact form .input-field {
    padding: 5px 0px 5px 0px;
    margin: 0px;
    text-indent: 3mm;
    text-align: left;
}

.contactdiv1 .formdiv .contact form .input-field .name,
.contactdiv1 .formdiv .contact form .input-field .email,
.contactdiv1 .formdiv .contact form .input-field .subject,
.contactdiv1 .formdiv .contact form .input-field .phone {
    width: 100%;
    height: 35px;
    background-color: #c97b84;
    border: 0px;
    text-indent: 3mm;
    border-radius: 10px;
    border-color: #7d2e68;
    border-width: 2px;
    border-style: solid;
}

.contactdiv1 .formdiv .contact form .input-field .message {
    min-width: 100%;
    min-height: 115px;
    background-color: #c97b84;
    border: 0px;
    text-indent: 3mm;
    resize: vertical;
    overflow: auto;
    border-radius: 10px;
    border-color: #7d2e68;
    border-width: 2px;
    border-style: solid;
}

.contactdiv1 .formdiv .contact form .input-field .btn-send {
    margin-bottom: 5%;
}

.img-grapes {
    max-width: 400px;
    width: 100%;
    height: auto;
}

.contactdiv2 {
    font-family: Arial, Helvetica, sans-serif;
    color: #251351;
    margin-top: 5%;
}

.contactdiv2 h5 {
    color: #251351;
}

@media (max-width: 768px) {
    .contactdiv1 {
        padding: 0 10px 20px;
        flex-direction: column;
    }

    .contactdiv1 .formdiv {
        width: 100%;
    }

    .contactdiv1 .contact form .input-field .form-actions {
        text-align: center;
    }

    .contactdiv1 .contact form .input-field .form-actions button {
        width: 100%;
    }

    .contactdiv2 {
        margin-top: 10%;
    }
}
