header {
    width: 100%;
    font-size: 4vmin;
    font-family: Arial, Helvetica, sans-serif;
    border-bottom: 24px solid #754b23;
    border-radius: 10px;
    position: inline;
    a {
        text-decoration: none;
        color: #ffffff;
    }
    .main-nav { 
        display: flex;
        justify-content: flex-end;
        flex-direction: row;
        list-style-type: none;
        li {
            font-size: 1.2rem;
            font-family: Arial, Helvetica, sans-serif;
            padding: 10px;
            text-decoration: none;
            
        }
    }
    .main-icon {
        display:flex;
        margin: 0px;
        background-repeat: no-repeat; 
        height: 192px;
        width: auto;
        background-image: url("../../assets/images/VineSecretLogo.png");
        background-position: center;      
    }
}