header {
    width: 100%;
    position: relative;
    background-color: #7d2e68;
    border-bottom: 24px solid #7d2e68;
    display: flex;
    justify-content: flex-start;
    padding: 12px 16px 8px 16px;
}

header a {
    text-decoration: none;
    color: #ffffff;
}

header .main-icon {
    margin: 0px;
    padding: 0px;
    background-repeat: no-repeat;
    height: 192px;
    background-image: url("../../assets/images/VineSecretLogo.png");
    background-position: center;
    background-size: contain;
}

header .main-nav {
    padding-top: 5vh;
}

header .main-nav li {
    font-size: 1.2rem;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    text-decoration: none;
}

header h2 {
    color: #ffffff;
    text-align: center;
}

@media (max-width: 900px) {
    header {
        flex-direction: column;
        align-items: center;
    }

    header .main-nav {
        padding-top: 20px;
        width: 100%;
    }

    header .main-icon {
        height: 150px;
        width: 100%;
    }

    header h2 {
        font-size: 1.4rem;
        margin-top: 12px;
    }
}
