header {
    width: 100%;
    position: relative;
    background-color: #7D2E68;
    border-bottom: 24px solid #7D2E68;
    display:flex;
    justify-content: flex-start;
    padding: 12px 16px 8px 16px;
    a {
        text-decoration: none;
        color: #ffffff;
    }

    .main-icon {
        margin: 0px;
        padding: 0px;
        background-repeat: no-repeat;
        height: 192px;
        background-image: url("../../assets/images/VineSecretLogo.png");
        background-position: center;
        background-size: contain;
    }
    
    .main-nav { 
        padding-top: 5vh;
        li {
            font-size: 1.2rem;
            font-family: Arial, Helvetica, sans-serif;
            padding: 10px;
            text-decoration: none;   
        }
    }
    h2 {
        color: #ffffff;
        text-align: center;
    }
}

@media (max-width: 900px) {
    header {
        flex-direction: column;
        align-items: center;

        .main-nav {
            padding-top: 20px;
            width: 100%;
        }

        .main-icon {
            height: 150px;
            width: 100%;
        }

        h2 {
            font-size: 1.4rem;
            margin-top: 12px;
        }
    }
}