footer {
    font-family: arial;
    height: 80px;
    width: 100%;
    background-color: #7D2E68;
    color: white;
    .email {
        padding-top: 25px;
        margin: 0 auto;
        background-position-x: center;
    };
    .date {
        padding-top: 25px;
        margin: 0 auto;
        
    };
    .phone {
        padding-top: 25px;
        margin: 0 auto;
        background-position-x: center;
    };
}

footer > *{
    width: 30%;
    float: left;
    text-align: center;
    height: 100%;
}