a {
    color: #ffffff ;
    text-decoration: none;
    background-color: transparent;
    :hover{
        text-decoration: none;
        color: #B1B695;
    }

};

.link {
    margin-left: 15px;
    margin-right: 15px;
}